<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/formular-rezultati">
        <label for="ime">Ime</label>
        <input type="text" name="ime" id="ime">

        <label for="prezime">Prezime</label>
        <input type="text" name="prezime" id="prezime">
        <hr/>
        <button type="submit">Isprati</button>
    </form>
</body>
</html>